<!--Navigation bar starts-->
<nav class="flex justify-end bg-blue-400 mx-auto w-full sticky top-0">
  <ul class="font-semibold p-2 flex space-x-2">
      <li>
          <a 
          routerLink="/home" 
          routerLinkActive="text-red-500"class="hover:bg-gray-300 p-1"
          >Home
          </a>
      </li>
      
      <li>
          <a 
          routerLink="/add-teacher" 
          routerLinkActive="text-red-500"
          class="hover:bg-gray-300 p-1"
          >Teachers
          </a>
      </li>
    
      <li>
          <a 
          routerLink="/students-form" 
          routerLinkActive="text-red-500"
          class="hover:bg-gray-300 p-1"
          >Students
          </a>
      </li>
  </ul>
</nav>
<!--Navigation bar Ends-->

  
<!--Main content location-->

<div class="  mx-auto">
  <router-outlet></router-outlet>
</div>

<footer class="bottom-0 fixed w-full p-5 bg-blue-400">
    <p class="text-center text-white md:text-right">Copyright &copy; 2024 Swapnil Pandey. All rights reserved.</p>
</footer>
