<div class="container mx-auto p-4 ">
    <h2 class="text-2xl font-bold mb-4">Student Details</h2>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Student Information</h3>
        <p 
         *ngIf="student"
         class="mt-1 max-w-2xl text-sm text-gray-500">Details of the student with ID {{ student.id !== undefined ? student.id : "Unable to fetch" }}
        </p>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">First Name</dt>
            <dd 
             *ngIf="student"
             class="mt-1 text-sm text-gray-900 sm:col-span-2">{{ student.firstName !== undefined ? student.firstName : "unable to fetch" }}
            </dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Last Name</dt>
            <dd 
             *ngIf="student"
             class="mt-1 text-sm text-gray-900 sm:col-span-2">{{ student.lastName !== undefined ? student.lastName : "unable to fetch" }}</dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Address</dt>
            <dd
             *ngIf="student"
             class="mt-1 text-sm text-gray-900 sm:col-span-2">{{ student.address !== undefined ? student.address : "unable to fetch" }}</dd>
          </div>
        </dl>
      </div>
    </div>

  <div class="border-t  border-gray-200 ">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 ">
        <dt class="text-sm font-medium text-gray-500">English Marks</dt>
        <dd 
         *ngIf="marks"
         class="mt-1 text-sm text-gray-900 sm:col-span-2">
          {{ marks.englishMarks !== undefined ? marks.englishMarks : "unable to fetch"}}
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Physics Marks</dt>
        <dd 
         *ngIf="marks"
         class="mt-1 text-sm text-gray-900 sm:col-span-2">{{ marks.physicsMarks !== undefined ? marks.physicsMarks : undefined }}</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Maths Mark</dt>
        <dd 
         *ngIf="marks"
         class="mt-1 text-sm text-gray-900 sm:col-span-2">{{ marks.mathsMarks !== undefined ? marks.mathsMarks : "unable to fetch" }}
        </dd>   
         <div class="text-sm font-medium text-gray-500">
            Grade: <span [ngStyle]="getGradeColor()">{{ grade }}</span>
         </div>
      </div>
      <div class="w-full flex flex-row-reverse p-2">
        <button
         (click)="gotostudentmark(student.id)"
         class="bg-blue-400 p-2 rounded-full w-full md:w-60 hover:bg-blue-500 font-bold">
          Update Marks
        </button>
       </div>
    </dl>
  </div>
  
  </div>
