<h1 class="font-bold text-center">Add Teacher</h1>

<div class="md:w-[500px] md:mx-auto p-5">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-3">
          <div class="sm:col-span-3">
            <label for="teacherName" class="block text-sm font-medium leading-6 text-gray-900">Teacher Name</label>
            <input [(ngModel)]="teacher.teacherName" type="text" name="teacherName" id="teacherName" class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
          </div>
          <div class="sm:col-span-3">
            <label for="teacherSubject" class="block text-sm font-medium leading-6 text-gray-900">Teacher Subject</label>
            <input [(ngModel)]="teacher.teacherSubject" type="text" name="teacherSubject" id="teacherSubject" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
          </div>
          <div class="sm:col-span-4">
            <label for="additionalField" class="block text-sm font-medium leading-6 text-gray-900">Additional Field</label>
            <input [(ngModel)]="teacher.additionalField" type="text" name="additionalField" id="additionalField" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn mt-1 w-full rounded font-bold hover:bg-green-400" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>

<button 
 (click)="gototeacherslist()"
 class="w-full bg-blue-400 rounded-full p-3 hover:bg-blue-500 font-bold text-white hover:text-gray-400">
  View All Teachers
</button>