<div class="overflow-x-auto">
    <table class="table-auto min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Teacher Name</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Teacher Subject</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Additional Field</th>

          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
          <!-- Add more columns as necessary -->
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let teacher of teachers">
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.id }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.teacherName }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.teacherSubject }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.additionalField }}</td> 
          <td class="px-6 py-4 whitespace-nowrap">
            <button 
             (click)="delete(teacher.id)"
             class="bg-red-400 p-2 rounded-lg">
                Delete
            </button>   
          </td>
          <!-- Add more columns as necessary -->
        </tr>
      </tbody>
    </table>
  </div>
  