<div class="min-h-screen flex items-center justify-center bg-gray-900 ">
    <div class="text-center">
      <h1 class="text-5xl font-bold text-white mb-8">Welcome to My Website</h1>
      <p class="text-xl text-gray-300 mb-12">Making creativity meet innovation</p>
      <a 
      routerLink="/home" 
      routerLinkActive="text-red-500"class="hover:bg-gray-300 p-1"
      >
      <button 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-110">Get Started</button>
      </a>
    </div>
  </div>
